{% extends 'base.html' %}
{% load static %}
{% block title %}Товар{% endblock %}

{% block home %}
{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{{product.image.url}}" alt="">

        </div>

    </div>

</div>
<div class="col-10 mx-auto col-md-6 my-3">
    <h1 class="product_title"> {{product.name}}</h1>
    <h5 class="text-info font-italic mb-4">{{product.price}}</h5>

    <p class="text-justify prod_text"> {{product.description}}

    </p>
    {% if product.stock <= 0 %}

    <p class="text-justify prod_text"> Нет в наличии</p>
    {% else %}
    <a href="{% url 'add_cart' product.id %}">Добавить в корзину</a>
    {% endif %}


</div>
{% endblock %}